rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
    allow read, write;
        function isAdmin(auth) {
            return auth.token.role == "admin";
        }
        function isCoach(auth) {
            return auth.token.role == "coach";
        }
        function isOrg(auth) {
        		return isAdmin(auth) || isCoach(auth);
        }
        function isUser(auth) {
        		return auth.token.role == "admin" || auth.token.role == "coach" || auth.token.role == "dialog";
        }

        match /users/{userId} {
            allow create: if isAdmin(request.auth);
            allow update: if isAdmin(request.auth);
            allow delete: if isAdmin(request.auth);

            allow get;
            allow list: if isUser(request.auth);
        }

        match /payments/{paymentId} {
        		function isOwnPayment(resource, auth) {
        				return isUser(auth) && resource.data.dialoger == request.auth.uid;
        		}
        		function isOwnPaymentCreated(request) {
        				return isUser(request.auth) && request.resource.data.dialoger == request.auth.uid;
        		}

        		allow create: if isAdmin(request.auth) || isOwnPaymentCreated(request);
            allow update: if isAdmin(request.auth) || isOwnPayment(resource, request.auth);
            allow delete: if isUser(request.auth);

            allow read: if isOrg(request.auth) || isOwnPayment(resource, request.auth);
        }

        match /locations/{locationId} {
            allow create: if isOrg(request.auth);
            allow update: if isOrg(request.auth);
            allow delete: if isAdmin(request.auth);

            allow read: if isUser(request.auth);
        }

        match /schedules/{scheduleId} {
        	function didNotChangeReviewedStatus(request) {
          	return request.resource.data.reviewed == resource.data.reviewed ;
          }
          function didNotAssignPersonnelWithoutReview(request, resource) {
          	return !(resource.data.reviewed != true && request.resource.data.personnel_assigned == true);
          }


        	allow create: if isAdmin(request.auth) || (isCoach(request.auth) && request.resource.data.reviewed != true);
        	allow update: if isAdmin(request.auth) || (isCoach(request.auth)
              && didNotChangeReviewedStatus(request) && didNotAssignPersonnelWithoutReview(request, resource));
          allow delete: if isAdmin(request.auth) || (isCoach(request.auth) && resource.data.reviewed != true);

          allow read: if isUser(request.auth);
        }

        match /config/{configId} {
            allow create: if false;
            allow update: if isAdmin(request.auth);
            allow delete: if false;

            allow read: if isAdmin(request.auth);
        }
    }
}